.navbar {
  border-bottom: 2px solid red;
  justify-content: center;
}
input {
  margin-top: 70px;
  text-align: center;
}

button {
  margin-top: 10px;
}
.card {
  margin: 10px;
  min-width: 130px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-trash-alt:hover {
  cursor: pointer;
  color: red;
}
.todo {
  margin-top: 13px;
}
